@import './mixins.scss';

section.all-subjects
{
    @include grid(1fr 1fr 1fr 1fr, 15px);

    padding: 20px 0 0 40px;
}

div.subject-wrapper
{
    @include flex(row nowrap, space-between, center);

    padding: 10px;

    background-color: #656565;
    
    div
    {
        @include flex(column nowrap, space-between, flex-start);

        p
        {
            margin-bottom: 12px;

            &:last-child
            {
                margin-bottom: unset;
            }
        }
    }

    p.subject-profile, p.subject-desc
    {
        color: #A5A5A5;
        font-size: 12px;
    }

    p.subject-desc {
        max-width: 200px;
    }

    p.subject-name
    {
        color: #fff;
        font-size: 23px;
        max-width: 300px;
    }
}