@import './base.scss';
@import './mixins.scss';

form 
{
    @include flex(column nowrap, flex-start, center);

    padding-top: 200px;

    div.login-wrapper:first-child {
        margin-bottom: 40px;
    }
}

label.login-labels 
{
    display: block;
    margin-bottom: 5px;
}

input.login-input
{
    border: 2px solid #4b2e83;
    border-radius: 10px;
    padding: 10px;
    min-width: 300px;

    color: #fff;
    letter-spacing: 0.05rem;
    font-size: 15px;

    background-color: rgb(45, 45, 45);
}

button.login
{
    background-color: rgb(58, 58, 58);
    padding: 15px 30px;

    margin-top: 20px;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;
    color: #fff;
    letter-spacing: unset;
}