@import './mixins.scss';

section
{
    padding: 25px;
    width: 100%;
}
section.all-subjects
{
    
    @include grid(1fr 1fr 1fr 1fr, 15px);
}

div.subject-wrapper
{
    border-radius: 10px;

    @include flex(row nowrap, space-between, center);

    padding: 20px 25px;

    background-color: #2c343a;

    min-width: 300px;
    
    div
    {
        @include flex(column nowrap, space-between, flex-start);

        height: 100%;
        p
        {
            margin-bottom: 12px;

            &:last-child
            {
                margin-bottom: unset;
            }
        }
    }
    
    p.subject-profile, p.subject-desc
    {
        color: #A5A5A5;
        font-size: 12px;
    }

    p.subject-desc {
        max-width: 200px;
    }

    p.subject-name
    {
        color: #fff;
        font-size: 23px;
        max-width: 300px;

    }

    p.subject-hours
    {
        min-width: 50px;
        text-align: right;
    }
}

@media screen and (max-width: 1500px)
{
    section.all-subjects
    {
        @include grid(1fr 1fr 1fr, 15px);
    }
}

@media screen and (max-width: 1300px)
{
    section.all-subjects
    {
        @include grid(1fr 1fr, 15px);
    }
}

@media screen and (max-width: 960px)
{
    section.all-subjects
    {
        @include grid(1fr, 15px);
    }
}