@import "./mixins.scss";

section
{
	width: 100%;
	padding: 25px;
}
section.all-subjects, section.all-groups
{
	@include grid(1fr 1fr 1fr 1fr, 15px);
}

div.subject-wrapper, a.groups-wrapper
{
	min-width: 300px;
	padding: 20px 25px;

	border-radius: 10px;
	background-color: #2C343A;
@include flex(row nowrap, space-between, center);

	div
	{
		height: 100%;

		@include flex(column nowrap, space-between, flex-start);
		p
		{
			margin-bottom: 12px;

			&:last-child
			{
				margin-bottom: unset;
			}
		}
	}

	p.subject-profile, p.subject-desc, p.group-profile, p.group-desc
	{
		font-size: 12px;

		color: #A5A5A5;
	}

	p.subject-desc, p.group-desc
	{
		max-width: 200px;
	}

	p.subject-name, p.group-name
	{
		font-size: 23px;

		max-width: 300px;

		color: #FFFFFF;
	}

	p.subject-hours, p.group-hours
	{
		min-width: 50px;

		text-align: right;
	}
	p.group-profile, p.group-name, p.group-desc
	{
		width: 100%;
		max-width: 100%;

		text-align: center;
		text-transform: uppercase;
	}
}
a.groups-wrapper
{
	transition: 0.3s all;

	opacity: 0.8;
	&:hover
	{
		opacity: 1;
		box-shadow: 3px 3px rgb(165, 165, 165);
	}
}
a.groups-wrapper div
{
	width: 100%;
}

button.removeSubject
{
	&:hover
	{
		cursor: pointer;
	}

	span
	{
		color: #FFFFFF;
	}
}

@media screen and (max-width: 1600px)
{
	section.all-subjects, section.all-groups
	{
		@include grid(1fr 1fr 1fr, 15px);
	}
}

@media screen and (max-width: 1400px)
{
	section.all-subjects, section.all-groups
	{
		@include grid(1fr 1fr, 15px);
	}
}

@media screen and (max-width: 1000px)
{
	section.all-subjects, section.all-groups
	{
		@include grid(1fr, 15px);
	}
}

div.sort-subjects
{
	display: flex;
	flex-flow: row nowrap;

	margin-top: 25px;

	user-select: none;
	.sort-subjects__all, .sort-subjects__group
	{
		display: flex;
		align-items: stretch;
		flex-flow: column nowrap;
		flex-grow: 1;
		justify-content: flex-start;

		min-width: 50%;
		padding-top: 5px;
		padding-bottom: 25px;

		& p
		{
			margin-bottom: 7px;
			padding: 15px 25px;

			cursor: move;

			border-radius: 3px;
			background-color: #2C343A;
			& span
			{
				font-size: 12px;

				opacity: 0.5;
			}
		}
	}
	.sort-subjects__group
	{
		padding-right: 10px;

		border-right: 1px solid rgba(255,255,255, 0.2);
	}
	.sort-subjects__all
	{
		padding-left: 10px;
	}
}

.update-subjects-group, .clear-subjects-group
{
	font-size: 14px;
	font-weight: bold;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 200px;
	min-height: 50px;

	cursor: pointer;
	transition: 0.8s background, 0.6s border-radius;
	letter-spacing: unset;

	color: #FFFFFF;
	border-radius: 10px;
	background-color: #3A3A3A;
	&:not(.disabled):hover
	{
		border-radius: 0;
		background-color: #4B2E83;
	}

	&.disabled
	{
		cursor: not-allowed;

		opacity: 0.3;
	}
}

.buttons
{
	display: flex;
	justify-content: space-between;

	padding: 15px 0;
	padding-top: 35px;
}

.sort-subjects .not-draggable
{
	z-index: -5;
}
