@import "./mixins.scss";
// fonts

// Yanone Kaffeesat Light, Regular, Bold
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap");
//Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*, *::after, *::before
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a
{
	text-decoration: none;

	color: #000000;
}

ul
{
	list-style-type: none;
}

button
{
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;

	span.material-icons
	{
		display: block;
	}
}

input
{
	border: none;
	outline: none;
}

html, body
{
	width: 100%;
}

html
{
	height: 100%;
}

body, input, a, textarea, button
{
	font-family: "Roboto", serif;
}

body
{
	display: flex;
	flex-flow: row nowrap;

	min-height: 100%;

	color: #FFFFFF;
	background-color: #1D2329;
}
.container
{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

main
{
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	section
	{
		padding: 35px;
	}
}

aside
{
	position: sticky;
	top: 0;
	left: 0;

	display: flex;
	overflow-x: hidden;
	align-self: stretch;
	flex-flow: column nowrap;

	min-width: 300px;
	max-width: 300px;
	min-height: min-content;
	max-height: 100vh;

	background-color: #16191C;


	& img
	{
		height: 50px;
		margin: 10px auto;
		margin-top: 35px;

		transition: 0.3s opacity;

		opacity: 0.5;
		&:hover
		{
			opacity: 0.8;
		}
	}

	& nav
	{
		display: flex;
		flex-flow: column nowrap;
		flex-grow: 1;

		margin-bottom: 150px;
		padding-top: 20px;
	}

	& .logo-wrapper
	{
		width: fit-content;
		margin: 0 auto;
	}

	& a:not(.logo-wrapper)
	{
		padding: 15px 25px;
		padding-right: 50px;

		transition: 0.5s background, 0.3s opacity;

		opacity: 0.5;
		color: #FFFFFF;
		&:hover
		{
			opacity: 1;
			background-color: rgba($color: #FFFFFF, $alpha: 0.1);
		}
	}

	& form
	{
		& input
		{
			width: 100%;
			padding: 20px 25px;

			cursor: pointer;
			transition: 0.5s background, 0.3s opacity;

			opacity: 0.5;
			color: #FFFFFF;
			background-color: transparent;
			&:hover
			{
				opacity: 1;
				background-color: rgba($color: #FFFFFF, $alpha: 0.1);
			}
		}
	}
}

header
{
	& .container
	{
		display: flex;
		align-items: center;
		justify-content: center;

		height: 100%;
		min-height: 45px;
		& p
		{
			width: 100%;
			height: 100%;
			& a
			{
				display: flex;
				align-items: center;
				justify-content: center;

				width: 100%;
				height: 100%;

				transition: 0.6s opacity;

				opacity: 0.6;
				color: #FFFFFF;
				&:hover
				{
					opacity: 1;
				}
			}
		}
	}
	& hr
	{
		height: 1px;
		margin: 0 10px;

		opacity: 0.2;
	}
}

aside::-webkit-scrollbar-track
{
	background-color: transparent;
	-webkit-box-shadow: inset 0 0 6px transparent;
	        box-shadow: inset 0 0 6px transparent;
}

aside::-webkit-scrollbar
{
	width: 4px;

	background-color: transparent;
}

aside::-webkit-scrollbar-thumb
{
	background-color: #3E474E;
}

@media screen and (max-width: 900px)
{
	aside
	{
		min-width: 250px;
		max-width: 250px;
	}
}

h3.empty
{
	width: auto;
	width: -webkit-fill-available;
	margin: 55px 30px 20px 30px;

	text-align: center;
}