@import './base.scss';
@import './mixins.scss';

aside.menu
{
    nav {
        @include flex(column nowrap, flex-start, flex-start);

        background-color: #0500FF;

        padding: 15px;

        a 
        {
            margin-top: 15px;

            background-color: #fff;
            padding: 10px;
            border-radius: 10px;

            text-align: center;


            min-width: 200px;
            max-width: 200px;
        }
    }
    
    height: 100%;
}