@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
button span.material-icons {
  display: block;
}

input {
  border: none;
  outline: none;
}

html, body {
  width: 100%;
}

html {
  height: 100%;
}

body, input, a, textarea, button {
  font-family: "Roboto", serif;
}

body {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100%;
  color: #FFFFFF;
  background-color: #1D2329;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}
main section {
  padding: 35px;
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  align-self: stretch;
  flex-flow: column nowrap;
  min-width: 300px;
  max-width: 300px;
  min-height: -webkit-min-content;
  min-height: min-content;
  max-height: 100vh;
  background-color: #16191C;
}
aside img {
  height: 50px;
  margin: 10px auto;
  margin-top: 35px;
  transition: 0.3s opacity;
  opacity: 0.5;
}
aside img:hover {
  opacity: 0.8;
}
aside nav {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin-bottom: 150px;
  padding-top: 20px;
}
aside .logo-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
aside a:not(.logo-wrapper) {
  padding: 15px 25px;
  padding-right: 50px;
  transition: 0.5s background, 0.3s opacity;
  opacity: 0.5;
  color: #FFFFFF;
}
aside a:not(.logo-wrapper):hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}
aside form input {
  width: 100%;
  padding: 20px 25px;
  cursor: pointer;
  transition: 0.5s background, 0.3s opacity;
  opacity: 0.5;
  color: #FFFFFF;
  background-color: transparent;
}
aside form input:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 45px;
}
header .container p {
  width: 100%;
  height: 100%;
}
header .container p a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.6s opacity;
  opacity: 0.6;
  color: #FFFFFF;
}
header .container p a:hover {
  opacity: 1;
}
header hr {
  height: 1px;
  margin: 0 10px;
  opacity: 0.2;
}

aside::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: inset 0 0 6px transparent;
}

aside::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

aside::-webkit-scrollbar-thumb {
  background-color: #3E474E;
}

@media screen and (max-width: 900px) {
  aside {
    min-width: 250px;
    max-width: 250px;
  }
}
h3.empty {
  width: auto;
  width: -webkit-fill-available;
  margin: 55px 30px 20px 30px;
  text-align: center;
}

body.auth .container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 600px;
  background-color: #16191C;
}
body.auth .container .error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  opacity: 0.4;
}
body.auth .container .error:not(:empty) {
  background-color: #2C343A;
}

form#login-form {
  min-height: 300px;
  margin: 50px 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
form#login-form div.login-wrapper:first-child {
  margin-bottom: 40px;
}

label.login-labels {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

input.login-input {
  font-size: 15px;
  min-width: 300px;
  padding: 10px;
  padding-left: 20px;
  transition: 0.3s border, 0.6s border-radius;
  text-align: center;
  letter-spacing: 0.05rem;
  color: #FFFFFF;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #2d2d2d;
}
input.login-input:hover, input.login-input:focus, input.login-input:active {
  border: 2px solid #4B2E83;
  border-radius: 0;
}

input#login {
  height: 50px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.8s background, 0.6s border-radius;
  letter-spacing: unset;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: #3a3a3a;
}
input#login:hover, input#login:focus, input#login:active {
  border-radius: 0;
  background-color: #4B2E83;
}

@media screen and (max-width: 700px) {
  body.auth .container form, .login-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .login-wrapper input, input#login {
    width: 90%;
    margin: 0 auto;
  }

  .login-wrapper {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
  }

  input#login {
    margin-top: 35px;
  }
}
section {
  width: 100%;
  padding: 25px;
}

section.all-subjects, section.all-groups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

div.subject-wrapper, a.groups-wrapper {
  min-width: 300px;
  padding: 20px 25px;
  border-radius: 10px;
  background-color: #2C343A;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
div.subject-wrapper div, a.groups-wrapper div {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
div.subject-wrapper div p, a.groups-wrapper div p {
  margin-bottom: 12px;
}
div.subject-wrapper div p:last-child, a.groups-wrapper div p:last-child {
  margin-bottom: unset;
}
div.subject-wrapper p.subject-profile, div.subject-wrapper p.subject-desc, div.subject-wrapper p.group-profile, div.subject-wrapper p.group-desc, a.groups-wrapper p.subject-profile, a.groups-wrapper p.subject-desc, a.groups-wrapper p.group-profile, a.groups-wrapper p.group-desc {
  font-size: 12px;
  color: #A5A5A5;
}
div.subject-wrapper p.subject-desc, div.subject-wrapper p.group-desc, a.groups-wrapper p.subject-desc, a.groups-wrapper p.group-desc {
  max-width: 200px;
}
div.subject-wrapper p.subject-name, div.subject-wrapper p.group-name, a.groups-wrapper p.subject-name, a.groups-wrapper p.group-name {
  font-size: 23px;
  max-width: 300px;
  color: #FFFFFF;
}
div.subject-wrapper p.subject-hours, div.subject-wrapper p.group-hours, a.groups-wrapper p.subject-hours, a.groups-wrapper p.group-hours {
  min-width: 50px;
  text-align: right;
}
div.subject-wrapper p.group-profile, div.subject-wrapper p.group-name, div.subject-wrapper p.group-desc, a.groups-wrapper p.group-profile, a.groups-wrapper p.group-name, a.groups-wrapper p.group-desc {
  width: 100%;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
}

a.groups-wrapper {
  transition: 0.3s all;
  opacity: 0.8;
}
a.groups-wrapper:hover {
  opacity: 1;
  box-shadow: 3px 3px #a5a5a5;
}

a.groups-wrapper div {
  width: 100%;
}

button.removeSubject:hover {
  cursor: pointer;
}
button.removeSubject span {
  color: #FFFFFF;
}

@media screen and (max-width: 1600px) {
  section.all-subjects, section.all-groups {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
}
@media screen and (max-width: 1400px) {
  section.all-subjects, section.all-groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}
@media screen and (max-width: 1000px) {
  section.all-subjects, section.all-groups {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
div.sort-subjects {
  display: flex;
  flex-flow: row nowrap;
  -webkit-user-select: none;
          user-select: none;
}
div.sort-subjects .sort-subjects__all, div.sort-subjects .sort-subjects__group {
  width: 50%;
  display: flex;
  align-items: stretch;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: flex-start;
  min-width: 50%;
  padding-top: 5px;
  padding-bottom: 25px;
}
div.sort-subjects .sort-subjects__all p, div.sort-subjects .sort-subjects__group p {
  margin-bottom: 7px;
  padding: 15px 25px;
  cursor: move;
  border-radius: 3px;
  background-color: #2C343A;
}
div.sort-subjects .sort-subjects__all p span, div.sort-subjects .sort-subjects__group p span {
  font-size: 12px;
  opacity: 0.5;
}
div.sort-subjects .sort-subjects__group {
  padding-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
div.sort-subjects .sort-subjects__all {
  padding-left: 10px;
}

.update-subjects-group, .clear-subjects-group, .create-teacher-file {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-height: 50px;
  cursor: pointer;
  transition: 0.8s background, 0.6s border-radius;
  letter-spacing: unset;
  color: #FFFFFF;
  border-radius: 10px;
  background-color: #3A3A3A;
}
.update-subjects-group:not(.disabled):hover, .clear-subjects-group:not(.disabled):hover, .create-teacher-file:not(.disabled):hover {
  border-radius: 0;
  background-color: #4B2E83;
}
.update-subjects-group.disabled, .clear-subjects-group.disabled, .create-teacher-file.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.buttons-half {
  width: 100%;
  margin: 25px auto;
  min-height: 40px;
  opacity: 0.5;
}
.buttons-half:hover {
  opacity: 0.8;
}

.search-subjects-group {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  min-height: 50px;
  cursor: pointer;
  transition: 0.8s background, 0.6s border-radius;
  letter-spacing: unset;
  color: #FFFFFF;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #3A3A3A;
}
.search-subjects-group:hover {
  border: 2px solid #4B2E83;
  border-radius: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  padding-top: 35px;
}

.sort-subjects .not-draggable {
  z-index: -5;
}

.titles {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 35px;
}
.titles div.header_wrapper {
  flex-grow: 1;
  width: 50%;
}
.titles div.header_wrapper a {
  margin-left: auto;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
button span.material-icons {
  display: block;
}

input {
  border: none;
  outline: none;
}

html, body {
  width: 100%;
}

html {
  height: 100%;
}

body, input, a, textarea, button {
  font-family: "Roboto", serif;
}

body {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100%;
  color: #FFFFFF;
  background-color: #1D2329;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}
main section {
  padding: 35px;
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  overflow-x: hidden;
  align-self: stretch;
  flex-flow: column nowrap;
  min-width: 300px;
  max-width: 300px;
  min-height: -webkit-min-content;
  min-height: min-content;
  max-height: 100vh;
  background-color: #16191C;
}
aside img {
  height: 50px;
  margin: 10px auto;
  margin-top: 35px;
  transition: 0.3s opacity;
  opacity: 0.5;
}
aside img:hover {
  opacity: 0.8;
}
aside nav {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  margin-bottom: 150px;
  padding-top: 20px;
}
aside .logo-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
aside a:not(.logo-wrapper) {
  padding: 15px 25px;
  padding-right: 50px;
  transition: 0.5s background, 0.3s opacity;
  opacity: 0.5;
  color: #FFFFFF;
}
aside a:not(.logo-wrapper):hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}
aside form input {
  width: 100%;
  padding: 20px 25px;
  cursor: pointer;
  transition: 0.5s background, 0.3s opacity;
  opacity: 0.5;
  color: #FFFFFF;
  background-color: transparent;
}
aside form input:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 45px;
}
header .container p {
  width: 100%;
  height: 100%;
}
header .container p a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.6s opacity;
  opacity: 0.6;
  color: #FFFFFF;
}
header .container p a:hover {
  opacity: 1;
}
header hr {
  height: 1px;
  margin: 0 10px;
  opacity: 0.2;
}

aside::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: inset 0 0 6px transparent;
}

aside::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

aside::-webkit-scrollbar-thumb {
  background-color: #3E474E;
}

@media screen and (max-width: 900px) {
  aside {
    min-width: 250px;
    max-width: 250px;
  }
}
h3.empty {
  width: auto;
  width: -webkit-fill-available;
  margin: 55px 30px 20px 30px;
  text-align: center;
}

form.add {
  max-width: 700px;
  margin-top: 30px;
}
form.add .br {
  padding-bottom: 45px;
}
form.add input, form.add select, form.add textarea {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  color: #2d2d2d;
  letter-spacing: 0.05rem;
  font-size: 15px;
  background-color: #ffffff;
  width: 100%;
  transition: 0.3s border, 0.6s border-radius;
}
form.add input:hover, form.add input:focus, form.add input:active, form.add select:hover, form.add select:focus, form.add select:active, form.add textarea:hover, form.add textarea:focus, form.add textarea:active {
  border-radius: 0;
  border: 2px solid #4b2e83;
}
form.add input[type=submit] {
  cursor: pointer;
  background-color: #3a3a3a;
  padding: 15px 50px;
  margin-top: 40px;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  letter-spacing: unset;
  transition: 0.8s background, 0.6s border-radius;
}
form.add input[type=submit]:hover, form.add input[type=submit]:focus, form.add input[type=submit]:active {
  border-radius: 0;
  background-color: #4b2e83;
}

label {
  opacity: 0.8;
  margin-left: 3px;
  display: block;
  margin-bottom: 8px;
}

div.subjectProfile {
  margin-bottom: 10px;
}
div.subjectProfile:last-child {
  margin-bottom: unset;
}

div.subjectNameDescWrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
div.subjectNameDescWrapper input {
  width: 100%;
}

div.subjectDesc, div.subjectName {
  width: 100%;
}
div.subjectDesc textarea, div.subjectName textarea {
  width: 100%;
}

textarea.add_input {
  padding: 5px;
  resize: vertical;
  min-height: 100px;
  height: 120px;
  max-height: 250px;
  border: none;
  outline: none;
  font-size: 18px;
}

div.subjectName textarea {
  min-height: 40px;
  height: 40px;
  max-height: 80px;
}

input.add_input, select.add_input {
  padding: 5px;
  font-size: 16px;
}

input.add_input[type=number], input#groupCode {
  min-width: 80px;
  max-width: 180px;
}

input.add_button {
  padding: 10px;
  border-radius: 10px;
  background-color: #3f3f3f;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

button.add_oneMore span {
  font-size: 30px;
  color: #fff;
}

.workload_teacher {
  display: grid;
  margin-top: 25px;
  grid-gap: 1px;
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content) 1fr minmax(100px, -webkit-min-content) minmax(100px, -webkit-min-content);
  grid-template-columns: minmax(min-content, max-content) 1fr minmax(100px, min-content) minmax(100px, min-content);
}

.workload_teacher > p {
  padding: 10px 25px;
}

.workload_teacher > p:nth-child(4n+3), .workload_teacher > p:nth-child(4n+4) {
  text-align: left;
}

.workload_teacher > p:not(.br):not(.heading):nth-child(4n+4)::after {
  content: " Ñ‡";
}

.workload_teacher > p.tchr, .workload_teacher > p.data, .workload_teacher > p.heading {
  background-color: #2C343A;
}