@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}
button span.material-icons {
  display: block;
}

input {
  border: none;
  outline: none;
}

html, body {
  width: 100%;
}

html {
  height: 100%;
}

body, input, a, textarea {
  font-family: "Roboto", serif;
}

body {
  min-height: 100%;
  color: #FFFFFF;
  background-color: #1d2329;
  display: flex;
  flex-flow: row nowrap;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}
main section {
  padding: 35px;
}

aside {
  min-height: -webkit-min-content;
  min-height: min-content;
  max-height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  min-width: 300px;
  max-width: 300px;
  align-self: stretch;
  background-color: #16191c;
  overflow-x: hidden;
}
aside img {
  opacity: 0.5;
  margin: 10px auto;
  margin-top: 35px;
  height: 50px;
  transition: 0.3s opacity;
}
aside img:hover {
  opacity: 0.8;
}
aside nav {
  flex-grow: 1;
  padding-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 150px;
}
aside .logo-wrapper {
  width: -webkit-fit-content;
  width: fit-content;
  margin: 0 auto;
}
aside a:not(.logo-wrapper) {
  color: #FFFFFF;
  padding: 15px 25px;
  padding-right: 50px;
  opacity: 0.5;
  transition: 0.5s background, 0.3s opacity;
}
aside a:not(.logo-wrapper):hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}
aside form input {
  color: #FFFFFF;
  padding: 20px 25px;
  opacity: 0.5;
  cursor: pointer;
  width: 100%;
  transition: 0.5s background, 0.3s opacity;
  background-color: transparent;
}
aside form input:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

header .container {
  height: 100%;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container p {
  height: 100%;
  width: 100%;
}
header .container p a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0.6;
  width: 100%;
  color: #FFFFFF;
  transition: 0.6s opacity;
}
header .container p a:hover {
  opacity: 1;
}
header hr {
  margin: 0 10px;
  opacity: 0.2;
  height: 1px;
}

aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: transparent;
}

aside::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

aside::-webkit-scrollbar-thumb {
  background-color: #3e474e;
}

@media screen and (max-width: 900px) {
  aside {
    min-width: 250px;
    max-width: 250px;
  }
}
body.auth .container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

form#login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 25px;
  min-height: 300px;
}
form#login-form div.login-wrapper:first-child {
  margin-bottom: 40px;
}

label.login-labels {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

input.login-input {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  min-width: 300px;
  color: #fff;
  letter-spacing: 0.05rem;
  font-size: 15px;
  background-color: #2d2d2d;
  transition: 0.3s border, 0.6s border-radius;
}
input.login-input:hover, input.login-input:focus, input.login-input:active {
  border-radius: 0;
  border: 2px solid #4b2e83;
}

input#login {
  cursor: pointer;
  background-color: #3a3a3a;
  padding: 15px 50px;
  margin-top: 40px;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  letter-spacing: unset;
  transition: 0.8s background, 0.6s border-radius;
}
input#login:hover, input#login:focus, input#login:active {
  border-radius: 0;
  background-color: #4b2e83;
}

section {
  padding: 25px;
  width: 100%;
}

section.all-subjects, section.all-groups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

div.subject-wrapper, a.groups-wrapper {
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  background-color: #2c343a;
  min-width: 300px;
}
div.subject-wrapper div, a.groups-wrapper div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
div.subject-wrapper div p, a.groups-wrapper div p {
  margin-bottom: 12px;
}
div.subject-wrapper div p:last-child, a.groups-wrapper div p:last-child {
  margin-bottom: unset;
}
div.subject-wrapper p.subject-profile, div.subject-wrapper p.subject-desc, div.subject-wrapper p.group-profile, div.subject-wrapper p.group-desc, a.groups-wrapper p.subject-profile, a.groups-wrapper p.subject-desc, a.groups-wrapper p.group-profile, a.groups-wrapper p.group-desc {
  color: #A5A5A5;
  font-size: 12px;
}
div.subject-wrapper p.subject-desc, div.subject-wrapper p.group-desc, a.groups-wrapper p.subject-desc, a.groups-wrapper p.group-desc {
  max-width: 200px;
}
div.subject-wrapper p.subject-name, div.subject-wrapper p.group-name, a.groups-wrapper p.subject-name, a.groups-wrapper p.group-name {
  color: #fff;
  font-size: 23px;
  max-width: 300px;
}
div.subject-wrapper p.subject-hours, div.subject-wrapper p.group-hours, a.groups-wrapper p.subject-hours, a.groups-wrapper p.group-hours {
  min-width: 50px;
  text-align: right;
}
div.subject-wrapper p.group-profile, div.subject-wrapper p.group-name, div.subject-wrapper p.group-desc, a.groups-wrapper p.group-profile, a.groups-wrapper p.group-name, a.groups-wrapper p.group-desc {
  max-width: 100%;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

a.groups-wrapper {
  opacity: 0.8;
  transition: 0.3s all;
}
a.groups-wrapper:hover {
  box-shadow: 3px 3px #a5a5a5;
  opacity: 1;
}

a.groups-wrapper div {
  width: 100%;
}

button.removeSubject:hover {
  cursor: pointer;
}
button.removeSubject span {
  color: #fff;
}

@media screen and (max-width: 1600px) {
  section.all-subjects, section.all-groups {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
}
@media screen and (max-width: 1400px) {
  section.all-subjects, section.all-groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}
@media screen and (max-width: 1000px) {
  section.all-subjects, section.all-groups {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
div.sort-subjects {
  margin-top: 25px;
  display: flex;
  flex-flow: row nowrap;
  -webkit-user-select: none;
          user-select: none;
}
div.sort-subjects .sort-subjects__all, div.sort-subjects .sort-subjects__group {
  padding-top: 5px;
  padding-bottom: 25px;
  min-width: 50%;
  flex-grow: 1;
}
div.sort-subjects .sort-subjects__all p, div.sort-subjects .sort-subjects__group p {
  cursor: move;
  border-radius: 3px;
  background-color: #2c343a;
  margin-bottom: 7px;
  padding: 15px 25px;
}
div.sort-subjects .sort-subjects__group {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 10px;
}
div.sort-subjects .sort-subjects__all {
  padding-left: 10px;
}

.update-subjects-group {
  cursor: pointer;
  background-color: #3a3a3a;
  padding: 15px 50px;
  border-radius: 10px;
  width: 200px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  letter-spacing: unset;
  transition: 0.8s background, 0.6s border-radius;
}
.update-subjects-group:hover {
  border-radius: 0;
  background-color: #4b2e83;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}
button span.material-icons {
  display: block;
}

input {
  border: none;
  outline: none;
}

html, body {
  width: 100%;
}

html {
  height: 100%;
}

body, input, a, textarea {
  font-family: "Roboto", serif;
}

body {
  min-height: 100%;
  color: #FFFFFF;
  background-color: #1d2329;
  display: flex;
  flex-flow: row nowrap;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}
main section {
  padding: 35px;
}

aside {
  min-height: -webkit-min-content;
  min-height: min-content;
  max-height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  min-width: 300px;
  max-width: 300px;
  align-self: stretch;
  background-color: #16191c;
  overflow-x: hidden;
}
aside img {
  opacity: 0.5;
  margin: 10px auto;
  margin-top: 35px;
  height: 50px;
  transition: 0.3s opacity;
}
aside img:hover {
  opacity: 0.8;
}
aside nav {
  flex-grow: 1;
  padding-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 150px;
}
aside .logo-wrapper {
  width: -webkit-fit-content;
  width: fit-content;
  margin: 0 auto;
}
aside a:not(.logo-wrapper) {
  color: #FFFFFF;
  padding: 15px 25px;
  padding-right: 50px;
  opacity: 0.5;
  transition: 0.5s background, 0.3s opacity;
}
aside a:not(.logo-wrapper):hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}
aside form input {
  color: #FFFFFF;
  padding: 20px 25px;
  opacity: 0.5;
  cursor: pointer;
  width: 100%;
  transition: 0.5s background, 0.3s opacity;
  background-color: transparent;
}
aside form input:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

header .container {
  height: 100%;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container p {
  height: 100%;
  width: 100%;
}
header .container p a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0.6;
  width: 100%;
  color: #FFFFFF;
  transition: 0.6s opacity;
}
header .container p a:hover {
  opacity: 1;
}
header hr {
  margin: 0 10px;
  opacity: 0.2;
  height: 1px;
}

aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: transparent;
}

aside::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

aside::-webkit-scrollbar-thumb {
  background-color: #3e474e;
}

@media screen and (max-width: 900px) {
  aside {
    min-width: 250px;
    max-width: 250px;
  }
}
form.add {
  max-width: 700px;
  margin-top: 30px;
}
form.add .br {
  padding-bottom: 45px;
}
form.add input, form.add select, form.add textarea {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  color: #2d2d2d;
  letter-spacing: 0.05rem;
  font-size: 15px;
  background-color: #ffffff;
  width: 100%;
  transition: 0.3s border, 0.6s border-radius;
}
form.add input:hover, form.add input:focus, form.add input:active, form.add select:hover, form.add select:focus, form.add select:active, form.add textarea:hover, form.add textarea:focus, form.add textarea:active {
  border-radius: 0;
  border: 2px solid #4b2e83;
}
form.add input[type=submit] {
  cursor: pointer;
  background-color: #3a3a3a;
  padding: 15px 50px;
  margin-top: 40px;
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  letter-spacing: unset;
  transition: 0.8s background, 0.6s border-radius;
}
form.add input[type=submit]:hover, form.add input[type=submit]:focus, form.add input[type=submit]:active {
  border-radius: 0;
  background-color: #4b2e83;
}

label {
  opacity: 0.8;
  margin-left: 3px;
  display: block;
  margin-bottom: 8px;
}

div.subjectProfile {
  margin-bottom: 10px;
}
div.subjectProfile:last-child {
  margin-bottom: unset;
}

div.subjectNameDescWrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
div.subjectNameDescWrapper input {
  width: 100%;
}

div.subjectDesc, div.subjectName {
  width: 100%;
}
div.subjectDesc textarea, div.subjectName textarea {
  width: 100%;
}

textarea.add_input {
  padding: 5px;
  resize: vertical;
  min-height: 100px;
  height: 120px;
  max-height: 250px;
  border: none;
  outline: none;
  font-size: 18px;
}

div.subjectName textarea {
  min-height: 40px;
  height: 40px;
  max-height: 80px;
}

input.add_input, select.add_input {
  padding: 5px;
  font-size: 16px;
}

input.add_input[type=number], input#groupCode {
  min-width: 80px;
  max-width: 180px;
}

input.add_button {
  padding: 10px;
  border-radius: 10px;
  background-color: #3f3f3f;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

button.add_oneMore span {
  font-size: 30px;
  color: #fff;
}